.training-create-page h2 {
  margin: 30px 0;
  font: normal normal bold 32px/37px Arial;
  color: #333333;
}

.training-create-page__card {
  box-shadow: 2px 2px 4px #dddddd;
  border-radius: 15px;
}
