.ant-menu.ant-menu-sub.ant-menu-inline {
  background: rgb(0, 136, 186);
}

.ant-menu.ant-menu-sub.ant-menu-inline > li > a {
  color: rgb(146, 232, 255);
}

div.sider-content > div > ul.sider-link-list-menu {
  background: rgb(0, 136, 186);
  border-right: 0;
}

.sider-link-list-menu-submenu {
  color: rgb(146, 232, 255);
}

ul.ant-menu.ant-menu-sub.ant-menu-inline {
  max-height: 35rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul.ant-menu.ant-menu-sub.ant-menu-inline:hover {
  overflow-y: scroll;
}