.category-card {
  width: 437px;
  margin-bottom: 1rem;
  text-align: center;
  height: 177px;
  border-radius: 15px;
  overflow: hidden;
}
.category-card * {
  color: white;
  overflow: hidden;
}
.layer {
  position: absolute;
  width: 437px;
  height: 177px;
  border-radius: 15px;
  background: black;
  opacity: 0.4;
  z-index: 1;
}
.category-link {
  position: absolute;
  width: 437px;
  height: 177px;
  z-index: 3;
  line-height: 177px;
  font-size: 24px;
}
.category-link a:hover {
  color: white;
  text-decoration: underline;
}
