.category-page-content {
  display: flex;
  justify-content: space-between;
}

.category-page-content .training-card {
  width: 770px;
  margin-bottom: 30px;
}

.category-page-content-calendar {
  margin-left: 2rem;
  width: 100%;
  max-width: 541px;
  background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255);
  box-shadow: rgb(221, 221, 221) -2px 0px 2px;
  position: relative;
  top: -32px;
  right: -32px;
  height: 100%;
}

.category-page-content-calendar h2 {
  margin: 30px 0;
  font: normal normal bold 32px/37px Arial;
}

.category-page-content-calendar h3 {
  margin: 30px 0;
}

.category-page-content-calendar__coming-training-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category-page-content-calendar__coming-training-title > a {
  text-decoration: underline;
  color: #bbbbbb;
  font: normal normal normal 20px/23px Arial;
}

.category-page-content-calendar__coming-training-title > h3 {
  font: normal normal bold 24px/28px Arial;
}

.category-page-content-calendar__trainings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-select-arrow {
  top: 27%;
}

.category-page-content__title {
  overflow-wrap: anywhere;
  font: normal normal bold 32px/37px Arial;
}

.category-page-content__sorted-btns {
  padding-bottom: 30px;
}
