section > header.all-main-header {
  height: 100px;
  background: white;
  position: fixed;
  margin-left: 367px;
  width: 100%;
  z-index: 1;
  padding-right: 367px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 4px #DDDDDD;
}

section > header.all-main-header > div:first-child {
  flex: 1;
}

.all-main-header-user-links {
  cursor: pointer;
  font-size: 18px;
  padding-right: 3rem;
}
