.training-card {
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 5px 2px 4px #dddddd;
  border-radius: 15px;
  height: 206px;
  max-width: 716px;
  margin: 5px;
}

.training-info {
  margin: 30px 0 0 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.training-name span {
  text-decoration: underline;
  font: normal normal bold 24px/28px Arial;
  color: #0088bb;
}

.training-desc {
  max-height: 40px;
  overflow: hidden;
  margin-top: 1rem;
  margin: 1rem 40px 0 0;
}

.training-card_icon {
  font-size: xxx-large;
  margin: auto;
}
