.training-card {
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 5px 2px 4px #dddddd;
  border-radius: 15px;
  height: 206px;
  margin: 5px;
  position: relative;
  display: flex;
}

.training-card-in-calendar {
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 4px #dddddd;
  border-radius: 5px;
  height: 100px;
  max-width: 460px;
  width: 100%;
  margin: 15px;
  display: flex;
}

.training-card-in-calendar__img__label {
  width: 100px;
  height: 100px;
}

.training-card-in-calendar-name {
  padding: 15px;
  font: normal normal bold 20px/23px Arial;
  text-decoration: underline;
  text-align: left;
}

.training-card-in-calendar-desc {
  max-height: 30px;
  overflow: hidden;
  padding: 0 15px 10px 15px;
  text-align: left;
  word-break: break-all;
  font: normal normal normal 12px/14px Arial;
}

.no-label {
  background: #dddddd;
}

.training-info {
  margin: 30px 0 0 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.training-info div {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.training-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.training-name span {
  text-decoration: underline;
  font: normal normal bold 24px/28px Arial;
  color: #0088bb;
}

.training-desc {
  max-height: 40px;
  overflow: hidden;
  margin-top: 1rem;
  margin: 1rem 40px 0 0;
}

.training-card_icon {
  font-size: xxx-large;
  margin: auto;
}

.training-card__img {
  width: 100%;
  height: 100%;
  max-height: 206px;
  max-width: 214px;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  background: #dddddd;
}

.training-card__img__plaques {
  position: absolute;
  top: 15px;
  left: 15px;
}

.training-card__img__plaques > div {
  margin-bottom: 15px;
  height: 30px;
  width: 138px;
  background: #00bbee;
  color: #ffffff;
  font: normal normal normal 12px/14px Arial;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.training-card__img__plaques > div:nth-child(2) {
  background: #ff5a5a;
}

.training-card__img__label {
  width: 100%;
  height: 100%;
  max-height: 206px;
  max-width: 214px;
  border-radius: 15px 0px 0px 15px;
}

.training-organizer {
  margin: 15px 0;
}

.training-organizer > span:first-child {
  font-weight: bold;
}

.training-dates > span:first-child {
  font-weight: bold;
}

.training-rate {
  text-align: end;
  display: flex;
  flex-direction: column;
  margin: 30px 30px 30px auto;
}

.training-rate__recomendations {
  margin-bottom: auto;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.training-rate__reviews-count {
  margin-top: 15px;
  color: #bbbbbb;
}

.training-rate__recomendations_icon {
  margin-right: 15px;
}

.training-rate__reviews > div:first-child {
  display: flex;
  width: max-content;
}
