.training-description-section {
  overflow-wrap: anywhere;
  box-shadow: 2px 2px 4px #dddddd;
  border-radius: 15px;
  padding: 30px;
  font: normal normal normal 24px/28px Arial;
  background: #ffffff 0% 0% no-repeat padding-box;
  margin-top: 45px;
}

.training__main-info {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 4px #dddddd;
  border-radius: 15px;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
}

.training > h2 {
  font: normal normal bold 32px/37px Arial;
}

.training__main-info__label {
  width: 100%;
  max-width: 440px;
  background: #dddddd;
  flex: 0 1 auto;
}

.training-card__img__plaques {
  position: absolute;
  top: 15px;
  left: 15px;
}

.training-card__img__plaques > div {
  margin-bottom: 15px;
  height: 30px;
  width: 138px;
  background: #00bbee;
  color: #ffffff;
  font: normal normal normal 12px/14px Arial;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.training__main-info__info {
  padding: 30px 0 30px 30px;
  font: normal normal normal 20px/23px Arial;
}

.training__main-info__info > div {
  padding-bottom: 15px;
}

.training__main-info__info_recomends {
  display: flex;
  align-items: center;
}

.training__main-info__info_count-of-recomends {
  padding-left: 15px;
}

.bold-title {
  font-weight: bold;
}

.training__main-info__info__average-rating {
  margin-left: 15px;
}

.training__main-info__info__count-of-reviews {
  margin-left: 15px;
  font: normal normal normal 16px/18px Arial;
  color: #bbbbbb;
}

.training__main-info__request-btn {
  width: 331px;
  height: 52px;
  background: #0088bb 0% 0% no-repeat padding-box;
  font: normal normal normal 20px/23px Arial;
  letter-spacing: 0px;
  color: #ffffff;
}

.training__main-info__site {
  text-decoration: underline;
  font: normal normal normal 20px/23px Arial;
  color: #0088bb;
}

.training__main-info__free-seats {
  margin-left: 15px;
  font: normal normal normal 16px/18px Arial;
  color: #bbbbbb;
}
