.training-format-create-page h2 {
  margin: 30px 0;
  font: normal normal bold 32px/37px Arial;
  color: #333333;
}

.training-format-create-page__card {
  box-shadow: 2px 2px 4px #dddddd;
  border-radius: 15px;
}

.training-format-form__cancel-btn {
  width: 167px;
  height: 52px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  color: #bbbbbb;
  font: normal normal normal 20px/23px Arial;
  margin-right: 30px;
}

.training-format-form__create-btn {
  width: 167px;
  height: 52px;
  border-radius: 5px;
  color: #ffffff;
  font: normal normal normal 20px/23px Arial;
  background: #0088bb 0% 0% no-repeat padding-box;
}

.training-format-form label,
input:placeholder-shown,
div.ant-select-item-option-content {
  font: normal normal normal 20px/23px Arial;
}

div.ant-select-selector,
div.ant-input-number,
div.ant-picker.ant-picker-range,
.training-format-form textarea,
.training-format-form input {
  border-radius: 5px !important;
}

.training-format-form div.ant-select-selector,
.training-format-form input,
.training-format-form
  div.ant-select-item.ant-select-item-option.ant-select-item-option-active {
  height: 40px !important;
}
