body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sider-content > main > ul > li > a.active-link {
  color: white;
}

div.centred-spin {
  position: absolute;
  top: 50%;
  left: 50%;
}

div.centred-spin__with-header-and-sider {
  position: absolute;
  top: 50%;
  left: 60%;
}

#root {
  font: normal normal normal 16px/18px Arial;
}
