section > aside.all-sider-layout {
  min-height: 100vh;
  position: fixed;
  z-index: 1;
  width: 367px;
  background: #0088bb 0% 0% no-repeat padding-box;
}

.sider-content {
  color: white;
}

.logo-box {
  width: 367px;
  height: 159px;
  background: #006c95 0% 0% no-repeat padding-box;
}

.sider-title-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid white;
}

.sider-content > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sider-title-text {
  font-size: 1rem;
}

.sider-content > div > ul > li > a {
  color: rgb(146, 232, 255);
}

.sider-links {
  margin-top: 20px;
}

.ant-menu {
  z-index: 999;
}

.ant-menu-item a:hover {
  color: rgb(146, 232, 255) !important;
}

.ant-menu-item * {
  font-size: 20px;
}

.ant-menu-submenu-title {
  color: rgb(146, 232, 255) !important;
}

.ant-menu-submenu * {
  font-size: 20px;
}

.ant-menu-submenu-title:hover {
  color: rgb(146, 232, 255) !important;
}

.ant-menu-submenu-inline
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow:before {
  background: linear-gradient(
    to right,
    rgb(146, 232, 255),
    rgb(146, 232, 255)
  ) !important;
}

.ant-menu-submenu-inline
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow:after {
  background: linear-gradient(
    to right,
    rgb(146, 232, 255),
    rgb(146, 232, 255)
  ) !important;
}

.ant-menu-submenu-inline
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:before {
  background: linear-gradient(
    to right,
    rgb(146, 232, 255),
    rgb(146, 232, 255)
  ) !important;
}

.ant-menu-submenu-inline
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:after {
  background: linear-gradient(
    to right,
    rgb(146, 232, 255),
    rgb(146, 232, 255)
  ) !important;
}

.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  left: 130px;
  top: 22px !important;
}

.ant-menu-sub {
  background: #006c95 0% 0% no-repeat padding-box !important;
}

.sider-img-container {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;
}

.logo-box__text {
  color: rgb(146, 232, 255);
  font-size: x-large;
}
